.wrapper {
	overflow: hidden;
}

.main-container {
	height: calc(100vh - 3rem);
	overflow-y: auto;
}

@media (max-width: 700px) {
	.wrapper {
		overflow: visible;
	}
	.main-container {
		overflow-y: inherit;
	}
}
